@media (max-width: 600px) {
  #hero {
    min-height: 100vh;
    width: 100%;
    padding: 0 0;
    background-color: var(--background-color);
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 5vh;

    overflow-x: hidden;
  }

  #full_scr_hamburger {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: -100%;

    background-color: rgba(0, 0, 0, 0.508);
    transition: all ease-in-out 700ms;

    z-index: 99;
  }

  #actual_ham_menu {
    height: 50%;
    width: 100%;
    background-color: var(--background-color);
    padding: 2vh 5vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;

    font-size: 10vw;
  }

  /* Navbar styles */
  nav {
    padding: 4vw 4vw;
    width: 100%;
    background-color: var(--background-color);
  }

  #logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
  }

  #logo span {
    color: var(--primary-color);
  }

  menu {
    display: none;
  }

  #hamburger {
    display: block;
    letter-spacing: -0.05rem;
    font-size: 1rem;
    font-weight: medium;
    color: var(--text-color);
    padding: 2vw 4vw;
    background-color: var(--background-color);

    border: 1px solid var(--light-border-color);
    border-radius: 5vw;
  }

  /* Hero content */
  #hero_content {
    min-height: 40vh;
    width: 100%;
    padding: 4vh 2vw;
    display: flex;
    flex-direction: column-reverse;

    border-bottom: 1px solid var(--light-border-color);
  }

  #hero_content h1 {
    width: 100%;
    color: var(--text-color);

    text-align: right;
    text-transform: uppercase;
    font-size: 13vw;
    font-weight: 700;
    letter-spacing: -0.2rem;
    line-height: 12vw;
    transform: scale(1, 1.05);
  }

  #hero_content p {
    width: 100%;
    text-align: left;
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: -0.05rem;
    line-height: 5vw;
  }

  /* Video player */
  video {
    width: 100%;
    height: 60vh;
    padding: 0 2vw;
    object-fit: cover;
    border-radius: 10vw;

    z-index: 5;
  }

  /* hero blobs */
  #hero_blob {
    position: absolute;
    right: 20%;
    top: 49vh;

    width: 45vw;
    height: 40vw;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

    background-color: var(--primary-color);
    filter: blur(var(--blob-blur));

    animation: anim3 8s ease-in-out infinite alternate;
  }

  /* sub blobs */
  #blob1 {
    position: absolute;
    background-color: var(--primary-color);
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    /* filter: blur(var(--blob-blur)); */

    animation: anim2 6s ease-in-out infinite alternate;
  }

  #blob2 {
    position: absolute;
    background-color: var(--primary-color);
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    /* filter: blur(var(--blob-blur)); */

    animation: anim1 4s ease-in-out infinite alternate;
  }

  /* next section */
  #about {
    background-color: var(--background-color);
    padding: 0 0;

    display: flex;
    flex-direction: column;
    gap: 4vh;
  }

  #marquee {
    display: flex;
    overflow-x: hidden;
    margin: 3vh 0;
  }

  #marquee::-webkit-scrollbar {
    display: none;
  }

  #marquee_container {
    width: 100%;
    padding: 0 1vw;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2vw;

    font-size: 3vw;

    animation: marqueeAnim 10s linear infinite;
  }

  .separator {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: var(--primary-color);
  }

  /* About us content */
  #about_us {
    min-height: 30vh;
    width: 100%;
    padding: 0 2vw;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  #about_us h2 {
    width: 100%;
    font-size: 7vw;
    letter-spacing: -0.05rem;
    font-weight: 700;
    color: var(--text-color);

    z-index: 5;
  }

  #about_us_short {
    width: 100%;
    height: 100%;
    margin-top: 12vh;

    display: flex;
    flex-direction: column;
  }

  #about_us_short img {
    width: 100%;
    border-radius: 10px;
  }

  #about_us_short p {
    font-size: 4vw;
    font-weight: 600;
    color: var(--text-light-color);
  }

  #about_blob {
    position: absolute;
    left: 10vw;
    top: 10vh;

    width: 50vw;
    height: 50vw;
    border-radius: 50%;

    background: linear-gradient(rgb(255, 94, 0), var(--primary-color));
    filter: blur(15px);

    animation: aboutBlobAnim 7s ease-in-out infinite alternate;
  }

  /* featured projects */
  #projects {
    background-color: var(--background-color);
    padding-top: 5vh;
    min-height: fit-content;
  }

  #projects h5,
  #companies h5 {
    font-size: 4vw;
    padding-left: 2vw;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -0.05rem;
    color: var(--text-color);
  }

  #projects h5::before,
  #companies h5::before {
    content: "";
    display: inline-block;
    margin-right: 2vw;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
  }

  #projects_container {
    width: 100%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
  }

  /* Project element */
  .element {
    width: 100%;
    padding: 2.5vh 3vw;
    position: relative;

    font-size: 5vw;
    font-weight: bold;
    letter-spacing: -0.07rem;
    border-bottom: 1px solid var(--light-border-color);

    overflow: hidden;
    cursor: pointer;
  }

  .element p {
    z-index: 9;
    position: relative;
  }

  .element:hover::before {
    top: 0;
  }

  .element::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--primary-light);
    position: absolute;

    left: 0;
    top: -110%;

    transition: all 400ms;
  }

  /* fixed image (displayed on hover) */
  #fixed_image {
    display: none;
    top: 30%;
    left: 50%;
    width: 42vw;
    height: 48vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 99;
    border-radius: 10px;

    background-size: cover;
    pointer-events: none;
  }

  /* Companies section */
  #companies {
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);

    position: relative;
  }

  /* Swiper styles */
  .swiper {
    width: 100%;
    height: 100%;

    margin: 4vh 0;
  }

  .swiper-slide {
    font-size: 18px;
    border-left: 1px solid var(--light-border-color);
    padding-left: 3vw;

    width: 60%;
    height: fit-content;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* footer content */
  #transparent_footer {
    height: 15vh;
  }

  footer {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 9;
    bottom: 0;
    background-color: var(--text-color);
    padding-bottom: 5vh;

    display: flex;
    justify-content: center;
    align-items: end;
  }

  footer h2 {
    font-size: 10vw;
    font-weight: 700;
    color: var(--background-color);
  }
}
