:root {
  --background-color: #efeae3;
  --text-color: #000;
  --text-light-color: #383838;

  --light-border-color: #969696;

  --primary-color: orangered;

  --blob-blur: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#hero {
  min-height: 100vh;
  width: 100%;
  padding: 0 2vw;
  background-color: var(--background-color);
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 5vh;

  overflow-x: hidden;
}

/* Navbar styles */
nav {
  padding: 2vw 2vw;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
}

#logo span {
  color: var(--primary-color);
}

menu {
  display: flex;
  align-items: center;
  gap: 1vw;
}

menu a {
  padding: 10px 25px;
  border: 1px solid var(--light-border-color);
  border-radius: 50px;
  position: relative;
  overflow: hidden;

  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: -0.025rem;
  color: var(--text-color);
}

menu a div {
  z-index: 9;
  position: relative;
}

menu a:hover div {
  color: var(--background-color);
}

menu a:hover::after {
  bottom: 0;
  border-radius: 0;
}

menu a::after {
  content: "";
  height: 110%;
  width: 100%;
  background-color: var(--text-color);
  position: absolute;

  left: 0;
  bottom: -110%;

  border-radius: 50%;
  transition: all 400ms;
}

/* Hero content */
#hero_content {
  height: 40vh;
  width: 100%;
  padding: 4vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 2vw;

  border-bottom: 1px solid var(--light-border-color);
}

#hero_content h1 {
  width: 50%;
  color: var(--text-color);

  text-align: right;
  text-transform: uppercase;
  font-size: 7vw;
  font-weight: 700;
  letter-spacing: -0.2rem;
  line-height: 6vw;
  transform: scale(1, 1.05);
}

#hero_content p {
  width: 40%;

  text-align: left;
  font-size: 2vw;
  font-weight: 600;
  letter-spacing: -0.05rem;
  line-height: 2.1vw;
}

/* Video player */
video {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 30px;

  z-index: 5;
}

/* hero blobs */
#hero_blob {
  position: absolute;
  right: -5%;
  top: 45vh;

  width: 45vw;
  height: 40vw;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;

  background-color: var(--primary-color);
  filter: blur(var(--blob-blur));

  animation: anim3 8s ease-in-out infinite alternate;
}

/* sub blobs */
#blob1 {
  position: absolute;
  background-color: var(--primary-color);
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  /* filter: blur(var(--blob-blur)); */

  animation: anim2 6s ease-in-out infinite alternate;
}

#blob2 {
  position: absolute;
  background-color: var(--primary-color);
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  /* filter: blur(var(--blob-blur)); */

  animation: anim1 4s ease-in-out infinite alternate;
}

@keyframes anim1 {
  from {
    transform: translate(75%, -20%);
  }
  to {
    transform: translate(0%, 10%);
    scale: 1.2;
  }
}

@keyframes anim2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-25%, 30%);
  }
}

@keyframes anim3 {
  from {
    transform: translate(-5%, -0%);
  }
  to {
    transform: translate(8%, 5%);
  }
}
